 Veri İçe Aktarma ve İşleme:

In [1]:
import pandas as pd
import numpy as np

In [ ]:
#CSV dosyası olarak aşağıdaki veriyi indirin:Kaggle: Titanic Dataset

In [ ]:
#dosyazımızı okuyalım

In [2]:
df = pd.read_csv('titanic.csv')

In [4]:
# İlk 10 satırı görüntüleyin
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
# Eksik verileri bulma ve doldurma
print("\nEksik veriler:")
eksik_bilgi=df.isnull().sum()  # Hangi sütunda kaç eksik veri olduğunu gösterir
eksik_bilgi

Eksik veriler:

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
# Yaş sütunundaki eksik verileri yaşların ortalaması ile dolduralım
ortalama_yas = df["Age"].mean()
df["Age"].fillna(ortalama_yas, inplace=True)

C:\Users\Ayşe Paycı\AppData\Local\Temp\ipykernel_7852\1673616369.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(ortalama_yas, inplace=True)

In [10]:
df["Age"]

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [16]:
df.isnull().sum() #age sütununda null veri kaymamıştır.

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
# Cinsiyet sütunundaki kadın ve erkek yolcuların sayısını bulma
cinsiyet_sayilari = df["Sex"].value_counts()
print("\nCinsiyet Sayilari:")
print(cinsiyet_sayilari)

Cinsiyet Sayilari:
Sex
male      577
female    314
Name: count, dtype: int64

In [17]:

# Hayatta kalma oranını hesaplama
hayatta_kalma_orani = df["Survived"].mean() * 100
print(f"\nHayatta Kalma Orani: %{hayatta_kalma_orani:.2f}")

Hayatta Kalma Orani: %38.38