    Series

In [53]:
#Pandas Series oluşturma.
#serilerde index ve değerlere ulaşma
#Serilerde veri işlemleri.

#Ek Metotlar:
"""
series.head() ve series.tail() (ilk ve son birkaç elemanı döner)
series.unique() (benzersiz değerler)
series.value_counts() (her değerin sayısını döner)
series.sort_values() (seriyi sıralar)
series.clip(lower, upper) (verileri alt ve üst limitlere sıkıştırır)
"""

pandas series oluşturma

In [54]:
#import pandas
import pandas as pd

In [55]:
my_data=['Emincan','Alper','Burak','Dilara','Zeynep']
my_data

['Emincan', 'Alper', 'Burak', 'Dilara', 'Zeynep']

In [56]:
#pd.Series() fonksiyonu ile elimizdeki verileri Series haline getirebiliriz.

In [57]:
pd.Series(my_data)

0    Emincan
1      Alper
2      Burak
3     Dilara
4     Zeynep
dtype: object

In [58]:
my_data=[1923,1776,1876]
my_idx=['Türkiye','USA','Canada']

In [59]:
pd.Series(my_data,my_idx)

Türkiye    1923
USA        1776
Canada     1876
dtype: int64

In [60]:
pd.Series(data=my_data,index=my_idx)

Türkiye    1923
USA        1776
Canada     1876
dtype: int64

In [61]:
#pd.Series() fonksiyonu dictionary de alabilir. Dictionary'nin keyleri index, value'ları değer olur.

In [62]:
my_dict={
    'Emincan':26,
    'Kaan':23,
    'Ayşe':21,
    'Deniz':29
}

In [63]:
my_dict

{'Emincan': 26, 'Kaan': 23, 'Ayşe': 21, 'Deniz': 29}

In [64]:
pd.Series(data=my_dict)

Emincan    26
Kaan       23
Ayşe       21
Deniz      29
dtype: int64

serilerde veri işlemleri

In [65]:
q1={'Japan':80,'China':450,'Turkey':150,'India':200}
q2={'Japan':90,'China':420,'Turkey':230,'India':195}

In [66]:
sales_q1=pd.Series(q1)
sales_q2=pd.Series(q2)

In [67]:
sales_q1

Japan      80
China     450
Turkey    150
India     200
dtype: int64

In [68]:
sales_q2

Japan      90
China     420
Turkey    230
India     195
dtype: int64

In [69]:
sales_total=sales_q1+sales_q2
sales_total

Japan     170
China     870
Turkey    380
India     395
dtype: int64

serilerde index ve değerlere ulaşma

In [70]:
sales_total.index #.index attribute'ı ile bakabiliyoruz.

Index(['Japan', 'China', 'Turkey', 'India'], dtype='object')

In [71]:
sales_total.keys() #.keys() methoduyla da indexlerine bakbiliriz.

Index(['Japan', 'China', 'Turkey', 'India'], dtype='object')

In [72]:
sales_total.values #.values  attribute'ı ile sermizin değerlerine bakabiliriz

array([170, 870, 380, 395], dtype=int64)

serilerde işlemlerde devam

In [74]:
sales_total

Japan     170
China     870
Turkey    380
India     395
dtype: int64

In [75]:
sales_total*2

Japan      340
China     1740
Turkey     760
India      790
dtype: int64

In [76]:
sales_total/10

Japan     17.0
China     87.0
Turkey    38.0
India     39.5
dtype: float64

In [77]:
sales_q2-sales_q1

Japan     10
China    -30
Turkey    80
India     -5
dtype: int64

In [83]:
q1={'Japan':80,'China':450,'India':150,'USA':200}
q2={'Brazil':90,'China':420,'India':230,'USA':195}

In [84]:
sales_q1=pd.Series(q1)
sales_q2=pd.Series(q2)

In [85]:
sales_q1

Japan     80
China    450
India    150
USA      200
dtype: int64

In [86]:
sales_q2

Brazil     90
China     420
India     230
USA       195
dtype: int64

In [87]:
sales_q1+sales_q2

Brazil      NaN
China     870.0
India     380.0
Japan       NaN
USA       395.0
dtype: float64

In [89]:
sales_q1.add(sales_q2, fill_value=0)

Brazil     90.0
China     870.0
India     380.0
Japan      80.0
USA       395.0
dtype: float64

In [90]:
sales_q1

Japan     80
China    450
India    150
USA      200
dtype: int64

In [92]:
sales_q1.dtype # .dtype attribute'ı ile serimizin içindeki verilerin tipini çekebilirisiniz.

dtype('int64')